@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Space Grotesk", sans-serif;
  transition: all 0.5s ease-in-out;
  overflow-x: hidden;
}
li {
  cursor: pointer;
}

@layer {
  .main-padding {
    @apply px-3  md:px-[64px];
  }
  .Header {
    @apply w-[100%] h-[100%] md:w-[100%] md:h-[100%] bg-hero-bg text-white bg-cover main-padding  md:bg-cover   bg-no-repeat overflow-x-hidden;
  }
  .featureBox {
    @apply w-full md:w-[20rem] h-[30rem] bg-[#e5e5e5]  pb-8 rounded-xl relative text-center md:flex-col hover:scale-105;
  }
}
